@using SystemWeb.Models
@model AdminIndexViewModel

@{
    Layout = "~/Views/Shared/_ThirdLayout.cshtml";
    Page.Title = "Gestioni Dirette - Admin Dashboard";
}
@section style{
    @Styles.Render("~/Content/bootstrapV3")
}
@if (Request.IsAuthenticated && User.IsInRole("Administrator"))
{
    <div class="row">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Administration</a></li>
                <li class="breadcrumb-item active">Dashboard with advanced services </li>
            </ol>
    </div>
    <div class="row">
            <div class="col-sm-6 col-lg-3 mb-4">
                <div class="card card-header card-success">
                    <div class="card-block">
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-5 mb-4">
                <div class="card card-inverse card-success o-hidden h-100">
                    <div class="card-block">
                        <div class="card-header">
                            <p class="text-info text-uppercase"><strong></strong></p>
                        </div>
                        <div class="mb-4">
                           
                        </div>
                        <div class="card-header">
                            <p class="text-info text-uppercase"><strong></strong></p>
                        </div>
                        <div class="mb-4">
                           
                        </div>
                    </div>
                    <a href="#" class="card-footer clearfix small z-1">
                        <span class="float-left">Esporta</span>
                        <span class="float-right"><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 mb-4">
                <div class="card card-header card-success">
                    <div class="card-block">
                        <div class="card-header">
                            <p class="text-danger text-uppercase"><strong>Ultime notizie</strong></p>
                        </div>
                        <div class="mb-3">
                            <p>Feed</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
        <div class="grid-filter">
            <div class="col-sm-6 col-lg-12 mb-3">
                <div class="card card-inverse card-danger o-hidden h-100">
                    <div class="card-header">
                        <i class="fa fa-area-chart"></i>
                    </div>
                    <div class="card-block">
                    </div>
                    <div class="card-footer small text-muted">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mb-3">
            <div class="card card-inverse card-info o-hidden h-100">
                <div class="card-block">
                    <div class="card-block-icon">
                        <i class="fa fa-fw fa-send"></i>
                    </div>
                    <div class="card-header">
                        <i class="fa fa-file-text"></i> Invia Ordine
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
}
@section script{
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrapV3")}

