<section id="banner">
    <div class="banner-overlay"></div>
    <div class="container">
        @*<a class="slidedown wow animated zoomIn" data-wow-delay="1s" href="#testimonial"><i class="ion-ios-download-outline"></i></a>*@
        <div class="row">
            <div class="col-md-6">
                <div class="headings">
                    <h1 class="wow animated fadeInLeft">Gestioni Dirette</h1>
                    <h2 class="wow animated bounceInUp">SystemWeb @ViewContext.Controller.GetType().Assembly.GetName().Version</h2>
                    <p class="wow animated fadeInRight">Tool progettato per gestire in modo intuitivo e dinamico una stazione di servizio.</p>
                </div>
            </div>

            <div class="col-md-6 hidden-xs hidden-sm">
                <div class="hand-container">
                    <img class="iphone-hand img_res wow animated bounceInUp" data-wow-duration="1.2s" src="@Url.Content("http://static.gestionidirette.com/Contenuti/img/2-iphone-right.png")" alt="">
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>
