<section id="footer" class="block">
    <div class="container text-center">
        <div class="footer-logo">
            <h1>G E S T I O N I</h1>
            <h2> D I R E T T E</h2>
        </div>
        <ul class="social-icons">
            <li class="wow animated fadeInLeft facebook"><a href="http://www.facebook.com/gestionidirette"><i class="ion-social-facebook"></i></a></li>
            <li class="wow animated fadeInRight twitter"><a href="#"><i class="ion-social-twitter"></i></a>
            <li class="wow animated fadeInLeft linkedin"><a href="#"><i class="ion-social-linkedin"></i></a></li>
            <li class="wow animated fadeInRight googleplus"><a href="#"><i class="ion-social-googleplus-outline"></i></a></li>
            <li class="wow animated fadeInRight github"><a href="#"><i class="ion-social-github"></i></a>
        </ul>
        <div class="copyright">
            <div class="credits">
                Versione: @ViewContext.Controller.GetType().Assembly.GetName().Version |
                Ultimo Aggiornamento: @File.GetCreationTime(ViewContext.Controller.GetType().Assembly.Location)
            </div>
            <div class="credits">@DateTime.Today.Date - Gestioni Dirette&trade; un progetto ideato da MTM di Fabbri Marcello & C. con Sede Legale in P.zza Concordia(SP) - Partita Iva: 01407280112 </div>
        </div>
    </div><!-- container -->
</section>
