<header class="sticky" id="header">
    <div class="container">
        <div class="row" id="logo_menu">
            <div class="col-xs-6"><a class="logo" href="http://www.gestionidirette.com">Home</a></div>
            <div class="col-xs-6"><a id="menu-toggle" class="toggle" role="button" title="Menu" data-toggle="tooltip" data-placement="left"><i class="ion-navicon"></i></a></div>
        </div>
    </div>
</header>
