@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="@Url.Content("~/Contenuti/CSS/Dashboard/dashboard.min.css")" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<div class="navbar navbar-default navbar-inverse" style="border-radius:0; background-color:#41a1e1; background-image:url(@Url.Content("~/Contenuti/img/stripBG.png"))" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">@ViewBag.Title</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/admin/prodotti">Prodotti</a></li>
                <li><a href="/admin">Bandiere</a></li>
                <li><a href="/admin">Notizie</a></li>
                <li><a href="/admin">Ruoli</a></li>
                <li><a href="/admin">Utenti</a></li>
                <li><a href="/admin">Annualità Utf</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    @RenderBody()
</div>