<tr>
    <th>Totale Deficienze Benzina</th>
    <td>@ViewBag.PvDeficienzeSumB</td>
    <th>Totale Deficienze Gasolio</th>
    <td>@ViewBag.PvDeficienzeSumG</td>
</tr>
<tr>
    <th>Totale Deficienze Benzina secondo il parametro impostato</th>
    <td>@ViewBag.PvDeficienzeSumBByDate</td>
    <th>Totale Deficienze Gasolio secondo il parametro impostato</th>
    <td>@ViewBag.PvDeficienzeSumGByDate</td>
</tr>

