<tr>
    <th>Totale Benzina</th>
    <td>@ViewBag.SSPBTotalAmount</td>
    <th>Totale Gasolio</th>
    <td>@ViewBag.DieselTotalAmount</td>
</tr>
<tr>
    <th>Totale Benzina secondo il parametro impostato</th>
    <td>@ViewBag.SSPBTotalAmountFrom</td>
    <th>Totale Gasolio secondo il parametro impostato</th>
    <td>@ViewBag.DieselTotalAmountFrom</td>
</tr>

