<tr>
    <th>Totale Cali Benzina</th>
    <td>@ViewBag.PvCaliSumB</td>
    <th>Totale Cali Gasolio</th>
    <td>@ViewBag.PvCaliSumG</td>
</tr>
<tr>
    <th>Totale Cali Benzina secondo il parametro impostato</th>
    <td>@ViewBag.PvCaliSumBByDate</td>
    <th>Totale Cali Gasolio secondo il parametro impostato</th>
    <td>@ViewBag.PvCaliSumGByDate</td>
</tr>

