<section id="testimonial" class="block">
    <div class="container">
        <p>
            Grazie per aver confermato la mail. Ora puoi effettuare il login, @Html.ActionLink("Entra ora", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</section>
