<div class="container">
    <div class="title-box">
        <h2 class="block-title wow animated zoomIn" style="color:black">Conferma email</h2>
    </div>
    <div class="row">
        <p class="text-info">
            Una mail di conferma è stata spedita al tuo indirizzo email, li vi troverai un link di attivazione.
        </p>
    </div>
</div>
