<hgroup class="title">
    <h2></h2>
</hgroup>
<div>
    <p class="text-danger">
        Ti è stato inviato un link all'indirizzo mail registrato dove potrai reimpostare la tua password.
    </p>
</div>

