<hgroup class="title">
    <h2></h2>
</hgroup>
<div>
    <p>
       La tua password è stata cambiata. Perfavore @Html.ActionLink("Clicca qui per entrare", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
