
@{
    Layout = "~/Views/Shared/_SignIn.cshtml";
}

@Html.Partial("Login", new GestioniDirette.Models.LoginViewModel { })

<div class="col-sm-1 middle-border"></div>
<div class="col-sm-1"></div>

 @Html.Partial("Register", new GestioniDirette.Models.RegisterBindingModel { })
