/* main Color #1ECA6B */


.fixed, 
#sidebar-wrapper,
.banner-overlay, 
#footer, 
.contact-submit:hover, 
.btn-custom {
    background-color: #1ECA6B;
}

#bigfeatures i, 
.feature-box i, 
.feature-list li i, 
.gallery-nav, 
.contact-submit {
    color: #1ECA6B;
}

.btn-custom, 
.mailchimp input[type="email"], 
.contact-submit, 
#contactForm input:active, 
#contactForm textarea:active, 
#contactForm input:hover, 
#contactForm textarea:hover {
    border-color: #1ECA6B;
}

.back-to-top {
    background: #dadada;
    border-color: #ccc;
}

.back-to-top:hover {
    background: gray;
    border-color: #888;
}



.bg-color-grad{
	background: #F2C500; /* Old browsers */
	background: -moz-linear-gradient(top,  #F2C500 0%, #1ECA6B 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F2C500), color-stop(100%,#1ECA6B)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #F2C500 0%,#1ECA6B 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #F2C500 0%,#1ECA6B 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #F2C500 0%,#1ECA6B 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #F2C500 0%,#1ECA6B 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F2C500', endColorstr='#1ECA6B',GradientType=0 ); /* IE6-9 */
}