<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="DefaultConnection" connectionString="data source=plumeria.arvixe.com;initial catalog=UTF;persist security info=True;user id=sys_login;password=Ld80BcaK;multipleactiveresultsets=True;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="data source=BIJOU-OUTSPARK\SQLEXPRESS;initial catalog=UTF;persist security info=True;user id=sys_login;password=morgana92;multipleactiveresultsets=True;"
      providerName="System.Data.SqlClient" />-->
    <add name="UTFConnectionString" connectionString="Data Source=plumeria.arvixe.com;Initial Catalog=UTF;Persist Security Info=True;User ID=sys_login;Password=Ld80BcaK" providerName="System.Data.SqlClient" />
    <!--<add name="UTFConnectionString" connectionString="Data Source=BIJOU-OUTSPARK\SQLEXPRESS;Initial Catalog=UTF;Persist Security Info=True;User ID=sys_login;Password=morgana92"
      providerName="System.Data.SqlClient" />-->
    <add name="NORTHWNDConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\NORTHWND.MDF;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="A__USERS_BIJOU_APPDATA_LOCAL_SYNCFUSION_ESSENTIALSTUDIO_14_3_0_49_MVC_SAMPLES_WEB_APP_DATA_NORTHWND_MDFConnectionString" connectionString="Data Source=BIJOU-OUTSPARK\SQLEXPRESS;Initial Catalog=A:\USERS\BIJOU\APPDATA\LOCAL\SYNCFUSION\ESSENTIALSTUDIO\14.3.0.49\MVC\SAMPLES\WEB\APP_DATA\NORTHWND.MDF;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="owin:appStartup" value="SystemWeb.Startup, SystemWeb" />
    <add key="business" value="6HY96EHV82BDA" />
    <add key="IsSandbox" value="false" />
    <add key="currency_code" value="EUR" />
    <add key="return" value="http://localhost:27860/PayPal/RedirectFromPaypal" />
    <add key="cancel_return" value="http://localhost:27860/PayPal/CancelFromPaypal" />
    <add key="notify_url" value="http://localhost:27860/PayPal/NotifyFromPaypal" />
    <add key="test_url" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <add key="Prod_url" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="10000" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
  </appSettings>
  <!--
    Per una descrizione delle modifiche al file web.config, vedere il sito Web all'indirizzo http://go.microsoft.com/fwlink/?LinkId=235367.

    Gli attributi seguenti possono essere impostati sul tag <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5">
    </compilation>
    <!-- maxRequestLength=200MB, URL max length 2000 -->
    <httpRuntime relaxedUrlToFileSystemMapping="true" maxRequestLength="204800" maxUrlLength="2000" maxQueryStringLength="2000" />
    <!--<pages validateRequest="false" /> -->
    <customErrors mode="Off" defaultRedirect="~/Error">
      <error redirect="~/Error/NotFound" statusCode="404" />
      <error redirect="~/Error/InternalServer" statusCode="500" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <httpHandlers>
      <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </httpHandlers>
    
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    
    <defaultDocument enabled="false" />
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <!-- maxAllowedContentLength=200MB, URL max length 2000 -->
        <requestLimits maxUrl="2000" maxAllowedContentLength="209715200" maxQueryString="2000" />
      </requestFiltering>
    </security>
    <caching enabled="false" enableKernelCache="false" />
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".ttf" />
      <remove fileExtension=".svg" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=14.3450.0.49, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" />
      <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- This prevents the Windows Event Log from frequently logging that HMAC1 is being used (when the other party needs it). -->
    <legacyHMACWarning enabled="0" />
    <!-- When targeting ASP.NET MVC 3, this assemblyBinding makes MVC 1 and 2 references relink
         to MVC 3 so libraries such as DotNetOpenAuth that compile against MVC 1 will work with it.
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
     -->
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
           before trusting HTTPS certificates.  But this setting tends to not 
           be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>
</configuration>