<div class="container">
    <div class="row">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Cartissima</a></li>
            <li class="breadcrumb-item active text-success">La tua richiesta con codice @ViewBag.Cod è stata inoltrata con successo.</li>
        </ol>
        <p class="text-uppercase text-capitalize warning">Verrai contattato telefonicamente o via mail dal primo operatore disponibile.</p>
    </div>
</div>