<tr>
    <th>Totale Benzina Solare</th>
    <td>@ViewBag.SSPBTotalAmount</td>
    <th>Totale Benzina secondo il parametro impostato</th>
    <td>@ViewBag.SSPBTotalAmountFrom</td>
    <th>Totale Gasolio Solare</th>
    <td>@ViewBag.DieselTotalAmount</td>
    <th>Totale Gasolio secondo il parametro impostato</th>
    <td>@ViewBag.DieselTotalAmountFrom</td>
</tr>
