@model SystemWeb.Models.PvErogatori
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    // Carica l'API di visualizzazione e il pacchetto annotationchart
    google.charts.load('current', { 'packages': ['annotationchart'] });

    // Imposta un callback da eseguire quando l'API di visualizzazione di Google viene caricata.
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = new google.visualization.DataTable();

        //Inizializzo le colonne
        data.addColumn('date', 'Data');
        data.addColumn('number', 'Benzina');
        data.addColumn('number', 'Gasolio');
        data.addColumn('string', 'Dispenser');
        
        //Richiesta Json..
        $.getJSON("@Url.Action("PvErogatoriGetChart")", null, function (chartData) {
            $.each(chartData, function (i, item) {
                data.addRow([new Date(item.dty, item.dtm, item.dtd), item.sspb, item.dsl, item.disp]);
            });

            var options = {
                title: 'Statistiche Venduto',
                width: 900,
                height: 500,
                curveType: "function",
                displayAnnotations: true,
                dateFormat: "yyyy, MMM dd",
                hAxis:{
                    format: "yyyy, MMM dd"
                },
                vAxis:
                    {
                        minValue: 150000
                    }
            };

            var chart = new google.visualization.AnnotationChart(document.getElementById('curve_chart'));
            chart.draw(data, options);
        });
    }
</script>
<section id="testimonial" class="block">
    <div class="container">
        <div class="row">
            <div class="center-block">
                <div class="header-content">
                    <h4 class="alert-info">Diagramma riepilogativo</h4>
                </div>
                <div id="curve_chart"></div>
            </div>
        </div>
    </div>
</section>

