<section id="features" class="block">
    <div class="container">
        <div class="title-box">
            <h1 class="block-title wow animated zoomIn">
                <span class="bb-top-left"></span>
                <span class="bb-bottom-left"></span>
                Caratteristiche
                <span class="bb-top-right"></span>
                <span class="bb-bottom-right"></span>
            </h1>
        </div>
        <div class="row">
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        <i class="ion-ios-briefcase"></i>
                        <h2>Entra in Gestioni Dirette</h2>
                        <p>Registra il tuo punto vendita in semplici passi in modo da continuare con gli step successivi.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        <i class="ion-wrench"></i>
                        <h2>Configurazione Impianto</h2>
                        <p>Ti saranno richiesti molteplici dati in modo da ottenere una configurazione personalizzata al meglio.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        <i class="ion-ios-bookmarks"></i>
                        <h2>Inserimento Ordini</h2>
                        <p>Grazie ad un intuitivo form potrai sottomettere i tuoi ordini. Il sistema sommerà di volta in volta il progressivo.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        <i class="ion-ios-book"></i>
                        <h2>Inserimento Totalizzatori</h2>
                        <p>Come per gli ordini carburante potrai anche sottomettere giorno per giorno i totalizzatori di ogni tuo erogatore.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        <i class="ion-ios-cloud"></i>
                        <h2>Sviluppo</h2>
                        <p>Gestioni Dirette è sempre in continuo sviluppo, grazie al tool SystemWeb, unicamente progettato allo scopo di soddisfare le richieste del utenza.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="col-sm-6 col-md-4">
                    <div class="feature-box wow animated flipInX animated animated" style="visibility: visible; animation-name: flipInX;">
                        <i class="ion-locked"></i>
                        <h2>Beta</h2>
                        <p>Gestioni Dirette è ancora in fase beta, pertanto non ancora aperto al pubblico. Tuttavia stiamo lavorando per far si che ciò accada.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</section>
<!-- ****************************** Contact section ************************** -->
<section id="contact" class="block">
    <div class="container">
        <div class="title-box">
            <h1 class="block-title wow animated zoomIn">
                <span class="bb-top-left"></span>
                <span class="bb-bottom-left"></span>
                Contattaci
                <span class="bb-top-right"></span>
                <span class="bb-bottom-right"></span>
            </h1>
            <h5 class ="wow animated zoomIn">Servizio momentaneamente non disponibile</h5>
        </div>
        <div class="row">
            <div class="col-sm-4 address wow fadeInLeft animated">
                <ul class="address-list">
                    <li><i class="ion-android-call"></i> <span>0123-456-7890 </span></li>
                    <li><i class="ion-email"></i> <span>support@gestionidirette.com</span></li>
                    <li><i class="ion-earth"></i> <span>www.gestionidirette.com</span></li>
                </ul>
            </div>
            <div class="col-sm-8 mailbox wow fadeInRight animated">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Il tuo nome *" id="name" required>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="La tua mail *" id="email" required data-validation-required-message="Inserisci il tuo indirizzo mail.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Titolo *" id="subject" required data-validation-required-message="Inserisci il titolo">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Contenuto del messaggio *" id="message" required data-validation-required-message="Compila il messaggio."></textarea>
                                <p class="help-block text-danger"></p>
                                <div id="success"></div>
                                <button type="submit" class="polo-btn contact-submit"><i class="ion-paper-airplane"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger error">L'Email deve essere valida e ricordati di compilare il messaggio.</div>
                    <div class="alert alert-success success">Il tuo messaggio è stato inviato correttamente.</div>
                </form>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</section>


           
