@{
    Layout = "~/Views/Shared/_Blank.cshtml";
    ViewBag.Title = "Richiesta Errata";
    ViewBag.Description = "Il tuo browser ha inviato una richiesta che il server non è riuscito a identificare";
}
@section style{
    @Styles.Render("~/Content/bootstrapV3")
}
<div class="jumbotron text-center">
    <header>
        <h1><span aria-hidden="true" class="fa fa-exclamation-circle text-danger"></span> @ViewBag.Title</h1>
    </header>
    <p>@ViewBag.Description</p>
    <a class="btn btn-primary btn-lg" href="@Url.RouteUrl(HomeControllerRoute.GetIndex)"><span aria-hidden="true" class="fa fa-home"></span> Torna indietro</a>
</div>