<section id="bigfeatures" class="img-block-3col block">
    <div class="container">
        <div class="title-box">
            <h1 class="block-title wow animated zoomIn">
                <span class="bb-top-left"></span>
                <span class="bb-bottom-left"></span>
                Errore Interno
                <span class="bb-top-right"></span>
                <span class="bb-bottom-right"></span>
            </h1>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <ul class="item-list-big">
                    <li class="wow fadeInLeft animated">
                        <i class="ion-ios-monitor-outline"></i>
                        <h3>Possibili cause</h3>
                        <p>Il Server ha riscontrato un errore interno. La preghimo di riprovare ad elaborare la risorsa più tardi.</p>
                    </li>
                    <li class="wow fadeInLeft animated">
                        <i class="ion-ios-toggle-outline"></i>
                        @Html.ActionLink("Torna Indietro", "Index","Home")
                    </li>
                </ul>
            </div>
         </div>
    </div>
</section>
