@{
    ViewBag.Title = "Pagina non trovata";
    ViewBag.Description = "Spiacenti, ma la pagina che cercavi non può essere trovata";
}

<div class="jumbotron text-center">
    <header>
        <h1><span aria-hidden="true" class="fa fa-exclamation-circle text-danger"></span> @ViewBag.Title</h1>
    </header>
    <p>@ViewBag.Description</p>
    <a class="btn btn-primary btn-lg" href="@Url.RouteUrl(HomeControllerRoute.GetIndex)"><span aria-hidden="true" class="fa fa-home"></span> Torna indietro</a>
</div>